<div id="main-wrapper">
    <app-header></app-header>
    <app-siderbar></app-siderbar>
    <div class="page-wrapper">
      <div class="container-fluid">
        <app-bread-crumbs></app-bread-crumbs>
        <router-outlet></router-outlet>
      
      </div>
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer">
        © 2023 Admin Pro by adler.com
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
  </div>